.main__line {
    width: 100%;
}
.header__line {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}
.header__line__icons {
    width

}
.header__line__text {
   

}

